@import url('https://fonts.googleapis.com/css?family=Abel');
* {
    font-family: 'Abel', sans-serif;
}

body {
    margin: 0em;
}

*::-webkit-scrollbar {
    width: 0em;
    background: transparent;
}

.d3entry {
    position: relative;
    margin: 0;
    padding: 0;
}

.d3entry-title {
    position: absolute;
    font-size: 130%;
    top: 100%;
    z-index: 999;
    width: 100%;
    padding: 0.8em 0em 0.8em 0em;
    background-color: rgba(255, 255, 255, 1.0);
    box-shadow: 0em 1.2em 2em rgba(0, 0, 0, 0.3);
}

.d3figure {
    width: 100%;
    max-width: 50em;
    height: 100%;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.footer a, .footer a:visited {
    text-decoration: none;
    color: #555;
}

.header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: -4em;
}

.header img {
    height: 60px;
}

.header .text {
    text-align: center;
    font-size: 240%;
    color: #61A2EF;
    margin: 0.1em 0em 0.1em 0em;
    padding-bottom: 0.08em;
    padding-left: 0.15em;
}

.header .image, .header .text {
    display: inline-block;
    vertical-align: bottom;
}

.link-list {
    text-align: center;
}

.link-list p {
    margin: 1em 0em 1em 0em;
}

.coll-list {
    margin-top: 5em;
    text-align: center;
}

.d3coll {
    margin-bottom: 0.5em;
}

.button {
    text-decoration: none;
    padding: 2px 10px 2px 10px;
    color: white;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #acb2b7;
    box-shadow: inset 0 -2px #acb2b7;
}

.fig-button {
    position: absolute;
    left: 0px;
    margin: 0px 0px 0px 10px;
    padding: 2px 10px 2px 10px;
    background: #bdc3c7;
    font-size: 80%;
}

.coll-button {
    background: #61A2EF;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .header img {
        height: 80px;
    }
    .header .text {
        font-size: 350%;
    }
    .d3entry-title {
        font-size: 230%;
    }
    .footer {
        font-size: 160%;
    }
    .button {
        font-size: 190%;
    }
    .d3entry iframe {
        margin-top: 1.4em;
    }
     ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
    .d3coll .button {
        font-size: 260%;
    }
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}